@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
}

input {
  border: none;
}

input:focus {
  border: none;
}

input:focus-visible {
  outline: none;
}

a {
  font-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-content {
  background-color: #0f0f20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content .main-title {
  cursor: pointer;
}